{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}
    <div class="container text-center">

        <div class="jumbotron" style="background-image: url({% static 'webpage/img/ACDH_Panorama_Postkarte_motiv01.jpg' %});">
          <div class="container">
              <h1>{% projects_metadata 'title' %}</h1>
              <h2>{% projects_metadata 'subtitle' %}</h2>
              <p>{% projects_metadata 'description' %}</p>
            <p><a class="btn btn-main" href="#" role="button">Read More &raquo;</a></p>
          </div>
        </div>


        <div class="container">
            <h2>Data-Count</h2>
            <div class="row">
            {% create_object_count app='places' as models %}
                {% for x in models %}
                    <div class="col-md-4">
                        <div class="grid-wrap">
                            {% if x.link %}
                                <a href="{{ x.link }}"><h3>{{x.name}}</h3></a>
                                {% else %}
                                <h3>{{x.name}}</h3>
                            {% endif %}
                            <hr class="hrtile">
                            <h3 class="count">{{x.count}}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
            {% create_object_count app='documents' as models %}
                {% for x in models %}
                    <div class="col-md-4">
                        <div class="grid-wrap">
                            {% if x.link %}
                                <a href="{{ x.link }}"><h3>{{x.name}}</h3></a>
                                {% else %}
                                <h3>{{x.name}}</h3>
                            {% endif %}
                            <hr class="hrtile">
                            <h3 class="count">{{x.count}}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
